@import '/index.scss';

.logo {
  position: absolute;
  left: 50px;
  top: 39px;
  user-select: none;

  p {
    font-size: 50px;
    color: $white-o;
    mix-blend-mode: difference;
  }

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    z-index: -1;
  }

  @media (max-width: 400px) {
    top: 48px;

    p {
      font-size: 35px;
    }

    img {
      width: 40px;
    }
  }
}

.menu {
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 2;

  .content {
    width: clamp(15rem, 9.545rem + 27.27vw, 30rem);
    height: clamp(26.875rem, 24.148rem + 13.64vw, 34.375rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='500' height='600' preserveAspectRatio='none' viewBox='0 0 500 600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1004%26quot%3b)' fill='none'%3e%3crect width='500' height='600' x='0' y='0' fill='rgba(201%2c 253%2c 116%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c267.176C49.171%2c265.23%2c89.227%2c228.552%2c125.534%2c195.335C157.398%2c166.183%2c170.104%2c124.392%2c194.796%2c88.96C226.352%2c43.678%2c285.235%2c13.102%2c290.797%2c-41.81C296.491%2c-98.021%2c263.021%2c-153.298%2c223.417%2c-193.592C184.931%2c-232.748%2c130.078%2c-248.736%2c76.343%2c-260C25.857%2c-270.583%2c-25.101%2c-268.373%2c-75.225%2c-256.192C-127.339%2c-243.528%2c-183.693%2c-230.105%2c-217.615%2c-188.565C-251.269%2c-147.353%2c-260.181%2c-89.506%2c-254.547%2c-36.598C-249.527%2c10.542%2c-209.771%2c43.724%2c-188.375%2c86.028C-168.092%2c126.132%2c-164.481%2c174.38%2c-132.087%2c205.531C-96.341%2c239.906%2c-49.553%2c269.137%2c0%2c267.176' fill='%23b8fc48'%3e%3c/path%3e%3cpath d='M500 851.6279999999999C550.509 859.255 608.254 862.606 648.79 831.5219999999999 688.988 800.698 687.142 741.072 705.662 693.923 722.971 649.858 760.7280000000001 610.342 754.083 563.468 747.436 516.58 706.42 483.337 671.304 451.56399999999996 639.5509999999999 422.834 600.114 408.637 561.809 389.497 514.338 365.777 472.362 321.463 419.466 325.725 364.71799999999996 330.136 307.493 362.804 282.99199999999996 411.962 258.78 460.541 301.845 516.768 297.28999999999996 570.855 293.145 620.08 240.89800000000002 664.188 257.845 710.5889999999999 274.647 756.592 335.21500000000003 765.91 377.53499999999997 790.559 417.767 813.992 453.963 844.6759999999999 500 851.6279999999999' fill='%23dafea0'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1004'%3e%3crect width='500' height='600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    border-radius: $br-r;
    position: relative;
  }
}
