@import '/index.scss';

.button {
  position: relative;
  text-decoration: none;
  background-color: $green;
  color: $black;
  border-radius: $br-r;
  padding: 6px 24px 6px 14px;
  transition: color $tr-btn;
  cursor: pointer;

  &:hover {
    color: $black-h;

    .icon {
      color: $black-h;
    }
  }

  &:active {
    color: $black-a;

    .icon {
      color: $black-a;
    }
  }

  @media (max-width: 1000px) {
    &:hover {
      color: $black;

      .icon {
        color: $black;
      }
    }

    &:active {
      color: $black;

      .icon {
        color: $black;
      }
    }
  }

  .icon {
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 11px;
    color: $black;
    transition: color $tr-btn;
  }
}
