%link {
  transition: color $tr-btn;
  text-decoration: none;
}

%span {
  border-radius: $br-r;
  padding-block: 3px;
  padding-inline: 12px;
  user-select: none;
}

%regularBtn {
  cursor: pointer;
  border-radius: $br-r;
  padding: 6px 24px 6px 24px;
  transition: color $tr-btn;
  display: flex;
  justify-content: center;
  align-items: center;
}
