@mixin link($color, $color-h, $color-a, $font-size) {
  @extend %link;
  color: #{$color};
  font-size: #{$font-size};

  &:hover {
    color: #{$color-h};
  }

  &:active {
    color: #{$color-a};
  }

  @media (max-width: 1000px) {
    &:hover {
      color: #{$color};
    }

    &:active {
      color: #{$color};
    }
  }
}
