@import '/index.scss';

.content {
  margin-top: 200px;
  position: relative;

  .title {
    @extend %title;
  }

  .titled {
    font-size: clamp(1.063rem, 0.54rem + 2.61vw, 2.5rem);
    text-align: center;
    color: $black;

    span {
      @include span($black, $green);
    }
  }

  .button {
    margin: auto;
    margin-top: 20px;
    width: 120px;
  }
}
