$tr-btn: 0.4s;
$br-r: 25px;
$m-top: clamp(6.25rem, 3.977rem + 11.36vw, 12.5rem);
$l-height: 24px;

$black: #111110;
$black-h: #232422;
$black-a: #2a2b29;

$white: #f8fffd;
$white-h: #edf6f3;
$white-a: #e2ece9;
$white-o: #d2d2d280;

$green: #c9fd74;
$green-h: #b3e761;
$green-a: #aee05e;
