@import '/index.scss';

body {
  background-color: $white;

  ::selection {
    background-color: #7e7e7eb3;
  }

  button,
  input {
    font-family: inherit;
  }

  .container {
    max-width: 1200px;
    padding-inline: 15px;
    margin: auto;
  }

  img {
    display: block;
    width: 100%;
  }

  .screenWidthWarning {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-inline: 15px;

    p {
      color: $black;
      text-wrap: balance;
      font-size: 21px;
      text-align: center;
      line-height: 28px;

      span {
        @include span($black, $green);
      }
    }
  }

  @media (max-width: 319.9px) {
    .screenWidthWarning {
      display: flex;
    }

    .screenContent {
      display: none;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}
