@import '/index.scss';

.footer {
  margin-top: $m-top;
  position: relative;
  height: clamp(25rem, 22.727rem + 11.36vw, 31.25rem);
  clip-path: polygon(0% 0, 100% 0%, 100% 100%, 0 100%);

  .relative {
    position: relative;
    height: calc(100vh + clamp(25rem, 22.727rem + 11.36vw, 31.25rem));
    top: -100vh;

    .sticky {
      position: sticky;
      height: clamp(25rem, 22.727rem + 11.36vw, 31.25rem);
      top: calc(100vh - clamp(25rem, 22.727rem + 11.36vw, 31.25rem));

      .content {
        height: 100%;
        width: 100%;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1000' height='500' preserveAspectRatio='none' viewBox='0 0 1000 500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1216%26quot%3b)' fill='none'%3e%3crect width='1000' height='500' x='0' y='0' fill='rgba(17%2c 17%2c 16%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c336.768C66.703%2c346.721%2c148.094%2c352.2%2c195.547%2c304.277C243.975%2c255.369%2c208.66%2c170.423%2c229.625%2c104.866C247.023%2c50.463%2c310.848%2c12.849%2c306.97%2c-44.136C303.077%2c-101.344%2c246.456%2c-137.712%2c210.098%2c-182.051C172.603%2c-227.778%2c144.242%2c-283.521%2c90.481%2c-308.149C33.14%2c-334.417%2c-38.605%2c-350.929%2c-94.415%2c-321.549C-149.938%2c-292.32%2c-157.226%2c-217.279%2c-187.029%2c-162.061C-209.74%2c-119.982%2c-238.745%2c-82.529%2c-248.668%2c-35.753C-259.1%2c13.423%2c-259.808%2c63.873%2c-245.162%2c111.962C-229.066%2c164.811%2c-202.044%2c213.688%2c-161.325%2c251.026C-115.513%2c293.035%2c-61.476%2c327.595%2c0%2c336.768' fill='%230b0b0a'%3e%3c/path%3e%3cpath d='M1000 882.36C1069.047 866.648 1126.251 827.364 1186.996 790.971 1249.898 753.2860000000001 1318.683 724.443 1362.153 665.39 1411.6970000000001 598.086 1450.249 519.048 1448.674 435.49 1447.008 347.132 1414.676 257.44399999999996 1353.263 193.89600000000002 1293.1100000000001 131.651 1205.517 99.125 1119.083 94.44 1041.357 90.22699999999998 979.459 155.135 902.954 169.49 813.694 186.23899999999998 701.6279999999999 121.73599999999999 636.4680000000001 184.998 572.8050000000001 246.807 613.12 356.674 618.956 445.214 623.707 517.292 647.014 582.62 667.25 651.962 691.2950000000001 734.357 678.3779999999999 841.788 748.9449999999999 890.649 819.207 939.299 916.669 901.322 1000 882.36' fill='%23171716'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1216'%3e%3crect width='1000' height='500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 50px;
        padding-inline: 50px;

        .button {
          margin-top: 3px;
          @include regularBtn($green, $black, $black-h, $black-a, 20px);
          position: absolute;
          right: 50px;
        }

        @media (max-width: 1200px) {
          padding-inline: 30px;

          .button {
            right: 30px;
          }
        }

        .nav {
          display: flex;
          flex-direction: column;
          gap: 8px;

          .title {
            margin-bottom: 12px;
            font-size: clamp(1.25rem, 0.795rem + 2.27vw, 2.5rem);
            color: $white-o;
          }

          a {
            width: 0;
            @include link(
              $green,
              $green-h,
              $green-a,
              clamp(1.25rem, 1.136rem + 0.57vw, 1.563rem)
            );
          }
        }

        .privacy {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .heading {
            font-size: 228px;
            user-select: none;
            color: $white-o;
          }

          .rules {
            font-size: 17px;
            color: $white;

            span {
              @include span($white, $black);
            }
          }

          @media (max-width: 1200px) {
            justify-content: center;
            flex-direction: column;
            gap: 20px;

            .heading {
              font-size: clamp(3.125rem, 0.852rem + 11.36vw, 9.375rem);
            }

            .rules {
              font-size: clamp(0.719rem, 0.594rem + 0.63vw, 1.063rem);
            }
          }
        }
      }
    }
  }
}
